/* this document should get a new fixed color palette */
*{  
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.1ch;
    /* font-size: large; */
}
/* not used, from a previous project */
:root{
    --font-size-large: Calc(16px + 1.4vw);
    --font-size-normal: Calc(14px + 0.7vw);
    --font-size-small: Calc(12px + 0.5vw);
    --font-size-mono-small: Calc(12px + 0.35vw);
}
/* WAVE Web Accessibility Evaluation Tool https://wave.webaim.org/
https://webaim.org/resources/contrastchecker/ */
*::selection{
    background-color: burlywood;
    color: #111111;
}
/* additional class for this particular form is ${element_name}-gray-green
this would allow you to style it separately from other containers */
.container-gray-green {
    display: flex;
    justify-content: center;
}
.form-gray-green {
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-width: 160px;
    max-width: 320px;
    padding: 1rem;
    border: 1px solid gainsboro;
    background-color: hsl(182, 0%, 98%);
}
.form-gray-green input {
    border: 1px solid gainsboro;
}
.form-gray-green label {
    color: gray;
}
.form-gray-green .input-gray-green:focus{
  border-color: cadetblue;
  outline: 1px solid cadetblue;
}
.input-gray-green[type=text],
.input-gray-green[type=password] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.button-gray-green {
    font-size: large;
    background-color: cadetblue;
    color: white;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.button-gray-green:hover, .button-gray-green:focus {
    background-color: forestgreen;
}

#smile{
    color: cadetblue;
    text-align: center;
    animation: smile_fade_out 30s ease-in-out 20s infinite;
    /* animation: example 2s ease 0s 1 alternate; */
    /* animation: name    duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes smile_fade_out {
    0% {color: cadetblue;}
    100% {color: cadetblue;}
    50% {color: lightgray;}
    10% {color: lightgray;}
    90% {color: lightgray;}
    
  }


/* password strenth part */
.psw-strenth-bar {
  display: flex;
  justify-content: space-around;
}

[class^=psw-strenth-bar__] {
  font-family: monospace;
  color: white;
  background-color: gray;
  padding: 0.2rem 0.5rem;
}

.psw-strenth-bar [class$=yellow] {
  background-color: gold;
}

.psw-strenth-bar [class$=green] {
  background-color: forestgreen;
}

.psw-strenth-bar [class$=red] {
  background-color: red;
}
